# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
*.code-workspace

# C/C++
*.exe
*.obj
*.o
*.out
*.log

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Common build outputs
node_modules/
dist/
build/
out/
target/
coverage/

# Temp files
*.tmp
*.swp
*.swo
